<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Maddux.Pitch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <remove name="ConnStr"/>
    <add name="ConnStr" connectionString="Data Source=localhost\sql2016;Initial Catalog=REDBUDCRM;User ID=redbud;Password=$1yEbbNzZ3" providerName="System.Data.SqlClient"/>
    <add name="MadduxEntities" connectionString="metadata=res://*/DL.RedbudEntities.csdl|res://*/DL.RedbudEntities.ssdl|res://*/DL.RedbudEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=redbudcrmstaging;integrated security=True;MultipleActiveResultSets=True;ConnectRetryCount=5;Connect Timeout=60;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!--
  For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

  The following attributes can be set on the <httpRuntime> tag.
    <system.Web>
      <httpRuntime targetFramework="4.6.1" />
    </system.Web>
  -->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="jwtSecret" value="a29304nmcj2*Khhmjj(gbnh"/>
    <add key="jwtIssuer" value="http://localhost:50553"/>
    <add key="jwtAudience" value="http://localhost:60020"/>
    <!--reCaptcha info-->
    <add key="reCaptchaSiteKey" value="6Lfaf2QpAAAAAMt980bBF1QzQltCfugXtVX_R-5A"/>
    <add key="reCaptchaSecretKey" value="6Lfaf2QpAAAAAO4jLh1_WzEbAPzBaFLvsiaizu7e"/>
    <add key="reCaptchaMinimumScore" value="0.5"/>
    <add key="Email_AllowedDomain" value="redbud.com"/>
    <add key="SMTP_Server" value="localhost"/>
    <add key="SMTP_Port" value="25"/>
    <add key="SendGridApiKey" value="__FROM_AZURE_APP_SETTINGS__"/>
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.6.1"/>
    <compilation debug="true" targetFramework="4.8"/>
    <customErrors mode="RemoteOnly" defaultRedirect="error.aspx"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" timeout="480" name=".Maddux.Pitch_Auth"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <machineKey decryption="AES" decryptionKey="74D69C2AAF36551A4A02158A31E067256BAB8B56C89E89041D9361324BB44E7F" validation="SHA1" validationKey="3B974744A0F17198B89C6A8D8916A9ACC3CC56E266DA037FC690461AD71B613BEF6D217B9C5862A92784B3A8B3AAFA597B985F726A6C3276CA134B072366E148"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <location path="forgotpwd.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="register.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Maddux.Pitch.Properties.Settings>
      <setting name="Maddux_Pitch_wsFCSBugTracker_IssueReportingServices" serializeAs="String">
        <value>http://ws.fortesolutions.ca/bt/FCSBugTracker.asmx</value>
      </setting>
    </Maddux.Pitch.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <log4net debug="true">
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
  </log4net>
</configuration>