<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Maddux.Catch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Maddux.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="MadduxEntities" connectionString="metadata=res://*/DL.RedbudEntities.csdl|res://*/DL.RedbudEntities.ssdl|res://*/DL.RedbudEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=redbudcrmstaging;integrated security=True;MultipleActiveResultSets=True;ConnectRetryCount=5;Connect Timeout=60;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="jwtSecret" value="a29304nmcj2*Khhmjj(gbnh"/>
    <add key="jwtExpiryInSeconds" value="30"/>
    <add key="jwtIssuer" value="http://localhost:50553"/>
    <add key="jwtAudience" value="http://localhost:60020"/>
    <add key="Email_AllowedDomain" value="redbud.com"/>
    <add key="SMTP_Server" value="localhost"/>
    <add key="SMTP_Port" value="25"/>
    <add key="SendGridApiKey" value="__FROM_AZURE_APP_SETTINGS__"/>
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="25000"/>
    <compilation debug="true" targetFramework="4.8"/>
    <customErrors mode="RemoteOnly" defaultRedirect="error.aspx"/>
    <httpModules/>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" timeout="480" name=".Maddux.Catch_Auth"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <machineKey decryption="AES" decryptionKey="2BE504B497469A891292782C8AF002C511A5EC8C1BA00966CEC40641F3049AF6" validation="HMACSHA256" validationKey="17CE839366C2A5E8DADA315D716494F46D965217528A44BE73AC51ED11F949DCE61BBA72DAF534E17BFF4202959204536401397AAEE3FC4BE37047D07498DDE1"/>
    <pages controlRenderingCompatibilityVersion="4.0" validateRequest="false"/>
  </system.web>
  <location path="forgotpwd.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="pages/edit.aspx">
    <system.web>
      <pages validateRequest="false"/>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  <location path="mailing/newsletters.aspx">
    <system.web>
      <pages validateRequest="false"/>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  <location path="order/orderdetail.aspx">
    <system.web>
      <pages validateRequest="false"/>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  <location path="order/confirmation.aspx">
    <system.web>
      <pages validateRequest="false"/>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  <location path="order/bill-of-lading.aspx">
    <system.web>
      <pages validateRequest="false"/>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  <location path="order/picksheet.aspx">
    <system.web>
      <pages validateRequest="false"/>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  <location path="order/packing-slip.aspx">
    <system.web>
      <pages validateRequest="false"/>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  <location path="shipping/shipmentdetail.aspx">
    <system.web>
      <pages validateRequest="false"/>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  <location path="shipping/invoice.aspx">
    <system.web>
      <pages validateRequest="false"/>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  <location path="mailing/mailinglabels.aspx">
    <system.web>
      <pages validateRequest="false"/>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="26214400"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.246" newVersion="1.2.0.246"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.50.5147.0" newVersion="1.50.5147.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Maddux.Catch.Properties.Settings>
      <setting name="Maddux_Catch_wsFCSBugTracker_IssueReportingServices" serializeAs="String">
        <value>http://ws.fortesolutions.ca/bt/FCSBugTracker.asmx</value>
      </setting>
    </Maddux.Catch.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <log4net debug="true">
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
  </log4net>
</configuration>