.d-none {
    display: none;
}

tr td {
    padding: 2px !important;
}

.font-weight-normal {
    font-weight: 400 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.text-left {
    text-align: left !important;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

.border-1 {
    border: 1px solid #000000 !important;
    border-top: none !important;
}

.form-control-box-lg {
    width: 100% !important;
    border: solid 1px #000000 !important;
    height: 35px
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: 1px solid #555555;
    border-radius: 0px;
    background-color: white;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 8px;
    height: 15px;
    border: solid black;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 0px;
    left: 6px;
}

.mb-1 {
    margin-bottom: 5px !important;
}
.set-logo-width {
    width: 180px !important;
}