


.redbud-margin {
    margin-left: 60px !important;
    margin-right: 60px !important;
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .redbud-margin {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
}

/*Header*/
header .nav-link {
    background-color: #FFFFFF !important;
    color: #ED174F !important;
}

    header .nav-link:hover {
        color: rgb(237, 23, 79, .5) !important;
    }

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 20px;
}

header .bg-danger {
    background-color: #ED174F !important;
    color: #FFFFFF !important;
}

.bg-primary {
    background-color: #27689F !important;
    border-color: #27689F
}

.bg-lightgray {
    background-color: #F3F3F3 !important;
}


h1, .h1 {
    font-size: 34px !important;
    font-family: "Museo-Sans-500" !important;
}


input {
    font-family: 'Museo-Sans-100', Arial, sans-serif !important;
}

.text-danger {
    color: #ED174F !important;
}


.bg-danger {
    background-color: #ED174F !important;
}


footer .nav-link, footer .nav-link:hover {
    color: #000000 !important;
}

.fs-10 {
    font-size: 10px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-15 {
    font-size: 14.85px !important;
}

.fs-18 {
    font-size: 18.56px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-25 {
    font-size: 25px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fs-38 {
    font-size: 38px !important;
}

.fs-34 {
    font-size: 34px !important;
}

.fs-48 {
    font-size: 48px !important;
}

.fs-54 {
    font-size: 54px !important;
}

.ms-100 {
    font-family: 'Museo-Sans-100', Arial, sans-serif !important;
    font-weight: 100;
}

.ms-250 {
    font-family: 'Museo-Sans-100', Arial, sans-serif !important;
    font-weight: 250;
}

.ms-300 {
    font-family: 'Museo-Sans-300', Arial, sans-serif !important;
    font-weight: 300;
}

.ms-400 {
    font-family: 'Museo-Sans-300', Arial, sans-serif !important;
    font-weight: 400;
}

.ms-500 {
    font-family: 'Museo-Sans-500', Arial, sans-serif !important;
    font-weight: 500;
}

.ms-600 {
    font-family: 'Museo-Sans-500', Arial, sans-serif !important;
    font-weight: 600;
}

.ms-700 {
    font-family: 'Museo-Sans-500', Arial, sans-serif !important;
    font-weight: 700;
}

.lh-28 {
    line-height: 28px;
}

/*Buttons*/
.btn {
    border-radius: 10px;
    padding: 6px 25px;
    font-family: "Museo-Sans-300 !important";
    font-size: 20px;
}

.btn-primary {
    background-color: #27689F !important;
    border-color: #27689F
}

.btn-check {
    background-color: purple !important;
}

.btn-primary:focus {
    box-shadow: unset;
}

.btn-form {
    background-color: #D9D9D9 !important;
    border-color: #D9D9D9 !important;
}

.btn-circle {
    padding: 0.375rem 0.75rem !important;
}

.btn-outline {
    color: #000;
    background-color: #fff;
    border-color: #000;
}

.btn-black {
    background-color: #000 !important;
    border-color: #000;
    color: #fff;
}



body {
    font-family: 'Museo-Sans-300', Arial, sans-serif !important;
    background-color: #F4EBE4;
    color: black;
    line-height: 1.25;
}

.form-control {
    background-color: #D9D9D9 !important;
}

.form-control-blk {
    background-color: #000 !important;
    color: #fff !important;
}

.dropDown-black {
    position: relative;
    display: inline-block;
    width: 100%;
}

    .dropDown-black select {
        width: 100%;
        padding: 10px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 1px solid #000;
        border-radius: 4px;
        cursor: pointer;
    }

    .dropDown-black::after {
        content: "\f078"; /* FontAwesome chevron-down Unicode */
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 16px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        color: white;
    }

.bg-form {
    background-color: #D9D9D9 !important;
}

.bg-white {
    background-color: white !important;
}

label {
    padding-bottom: 10px;
    padding-top: 15px;
    font-family: 'Museo-Sans-500', Arial, sans-serif !important;
    font-size: 20px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    font-family: 'Museo-Sans-500', Arial, sans-serif !important;
}

.rounded-25 {
    border-radius: 10px;
}

.product-image-container {
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    align-items: end;
    overflow: hidden;
    justify-content: center;
}


.footer-redbud-link {
    text-decoration: none;
    color: black;
}

.alert {
    border-radius: 1rem;
    border: 1px solid transparent;
    font-family: 'Museo-Sans-300', Arial, sans-serif !important;
    font-size: 17px;
    font-weight: 400;
}

.alert-success {
    background-color: #13724B;
    color: #fff;
}

.alert-danger {
    background-color: rgb(237, 23, 79);
    color: #fff;
}

.alert a.close {
    font-size: 24px;
    color: #fff;
    margin-left: 50px;
}
