.modal-header {
    background-color: #dd4b39!important;
    color:white!important;
    font-weight:700;
}
.modal-title {
    font-weight: 700;
}
.p-5 {
    padding:50px!important;
}
.d-none {
    display:none!important;
}
.font-weight-bold {
    font-weight:bold!important;
}
.alert-welcome {
    color: white !important;
    background-color: #ed174f !important;
}
label {
    font-weight: normal !important;
}
.skin-red .sidebar-form .input-group input[type="text"], .skin-red .sidebar-form .btn {
    background-color: #fff !important;
}
.sidebar-menu > li > a {
    padding: 6px 5px 6px 15px!important;
}
.p-1 {
    padding:5px!important;
}
.pl-0 {
    padding-left: 0px !important
}
.py-1 {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}
.pb-1 {
    padding-bottom: 5px !important;
}
.pr-0{
    padding-right:0px!important;
          }
.formatted-chk input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

.border-1 {
    border: 1px solid #000000 !important;
    border-top: none !important;
}

.form-control-box-lg {
    width: 100% !important;
    border: solid 1px #000000 !important;
    height: 35px
}

.formatted-chk input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: 1px solid #555555;
    border-radius: 0px;
    background-color: white;
}

.formatted-chk input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 8px;
    height: 15px;
    border: solid black;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 0px;
    left: 6px;
}
input[type=number] {
    text-align: left !important;
}
.panel-body{
    padding:10px!important;
}
label{
    margin-bottom:0px!important;
    font-size:13px;
}