/*Redbud settings*/
html {
	position: relative;
	min-height: 100%;
}
body {
  /* Margin bottom by footer height */
	margin-bottom: 120px;
}
a {
	color: #ed174c;
}
a:focus, a:hover {
	color: #ed174c;
}
/*table settings*/
table.table-bordered thead tr th {
	background-color: #ed174c;
	color:#fff;
}
table.table-bordered tfoot {
    background: #a7a8a9;
    color: #000;
	font-weight:bold;
}
table.table-bordered tfoot td {
	border-top: double 3px #000;
}
.table.table-responsive.borderless.table {
	margin-bottom:0;
}
.table.table-responsive.borderless td, .borderless th {
    border: none;
	padding-left:0;
}
/*Other settings*/
.singtext{    
    font-size: 28px;  
    color: #ed174c;
    font-weight: 500;
    letter-spacing: 1px;
}
.submitButton{
    background-color: #7ac143;
    color: #fff;
    margin-top: 12px;
    margin-bottom: 10px;
    padding: 10px 15px;
    width: 100%;
    margin-left: 2px;
    font-size: 16px;
    border-radius: 0px;
    outline: none;
}
.submitButton:hover,.submitButton:focus{
    color: #fff; 
	background-color: #97cf6d; 
    outline: none;
}

/* Smallest devices (phones and up) */
.text-xs-center {
    text-align: center;
}
.text-xs-right {
    text-align: right;
}
.text-xs-left {
    text-align: left;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-sm-center {
        text-align: center;
    }
    .text-sm-right {
        text-align: right;
    }
    .text-sm-left {
        text-align: left;
    }
	#topbar {
		height:40px;
		text-align:right;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-md-center {
        text-align: center;
    }
    .text-md-right {
        text-align: right;
    }
    .text-md-left {
        text-align: left;
    }
	#topbar {
		height:40px;
		text-align:right;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text-lg-center {
        text-align: center;
    }
    .text-lg-right {
        text-align: right;
    }
    .text-lg-left {
        text-align: left;
    }
	#topbar {
		height:40px;
		text-align:right;
	}
}
/*Login page settings*/
.login-form-control{
    border-radius: 0px;
    margin: 12px 3px;
    height: 40px;
}
.login-logo{
    margin: auto;
    text-align: center;
    padding-top: 20%;
}
.login-logo img{
	height: 100%;
	width: 100%;
	max-width: 243px;
	max-height: 125px;
}
.loginbox{
    margin-top: 5%;
    border-top: 6px solid #ed174c;
    background-color:#fff;
    padding: 20px;
    box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12),0 -2px 10px -2px rgba(0,0,0,0.12);    
}
.forGotPassword{
    background-color: #F2F2F2; 
    padding: 15px 0px;
    text-align: center;

}
.forGotPassword:hover{
        box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12);    
}
.forGotPassword a{
    color: #000;
    outline: none;
}
.forGotPassword a:hover, .forGotPassword a:active,.forGotPassword a:focus{  
    text-decoration: none; 
    outline: none;
}
/* Error Handling */
.error input,
input.error,
.error textarea,
textarea.error {
  border-color: #c60f13;
  background-color: rgba(198, 15, 19, 0.1); }
  .error input:focus,
  input.error:focus,
  .error textarea:focus,
  textarea.error:focus {
    background: #fafafa;
    border-color: #999999; }

.error label,
label.error,
.error span,
span.error {
  color: #c60f13; }

.error small,
small.error,
.error span,
span.error_small {
  display: block;
  padding: 0.375em 0.25em;
  margin-top: -1.3125em;
  margin-bottom: 1em;
  font-size: 0.75em;
  color: #c60f13; }